page-tabthuenha {
.ppxuonghang{
white-space: initial;
font-size: 17px;
 color: blue;
}
.img{
    width: 130px;
    height:70px;
    }
.body  {

    background-image: url("../assets/img/nen.PNG");
    background-color: #cccccc;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    // p {
    //     color: black;
    // }

}
.iconbig
{
    font-size: 42px;
}
.height
{
    height: 45px;
        margin: auto;
}
.xoa{
    text-decoration: none;

    }
    .cangiua
{
    text-align: center;
    padding: 10px 10px;
    border-style: solid;
    border-color:  #F0F8FF  #F0F8FF	#F0F8FF;
    background:white;

}
.size{
    font-size: 17px;
    color: red;
}
}
