page-home {
.iconmenu{
    font-size:20px; 
}
.icon
{
    font-size:500%;
}


.grid-basic-page
{
    border: 3px solid cornflowerblue;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:antiquewhite(290, 60%, 70%, 0.3);
    background:white;
    border-radius: 20px;

}
.body  {

    background-image: url("../assets/img/nen1.jpg");
    background-color: #cccccc;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;


}
.imgchu{
    height: 500px;
    }
.imgchucnang{
    width: 60px;
    height:60px;
    }
.fontchu {
    font-size:15px;

}

.xoa{
    text-decoration: none;

    }
}
