page-info {
   .body  {

    background-image: url("../assets/img/nen.PNG");
}
.tieude{
    font-size: 19px;
    text-align: left;
    color: blue;
    white-space: initial;
    font-weight: bold;
}
.tieude1{
    font-size: 19px;
    text-align: left;
     font-weight: bold;
    color: red;
}
.khung
{
    border: 3px solid white;
    background-color:antiquewhite(290, 60%, 70%, 0.3);
    background:white;
    border-style: solid;
    // border-color:  #696969  	#F0F8FF #696969;
}
.iconbig
{
    font-size: 25px;
    text-align: center;
}
.cangiua
{
    text-align: center;
    border-style: solid;
    border-color:  #FFFFFF  #FFFFFF	#FFFFFF;
    background:white;
}
.font{
    font-size: 17px;
}
.line{
      line-height: 0.2px;
}
.xoa{
    text-decoration: none;

    }
.pp{
    font-size: 13px;
}
}
