page-request-find {
.tieude{
    font-size: 20px;
    text-align: center;
    color: blue;

}
.pp 
{
    font-size: 15px;
    text-align: center;
}
.font{
    font-size: 18px;

}
.iconbig
{
    text-align: center;
    width: 30px;
    height: 30px;
}

   .body  {

    background-image: url("../assets/img/nen.PNG");

}
.khung
{
    border: 3px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:antiquewhite(290, 60%, 70%, 0.3);
    background:white;

    // border-radius: 20px;
}
.cangiua
{
    text-align: center;
     border-style: solid;
     border-color:  #696969  	#FFFFFF  	#FFFFFF;
     background:white;

}
.line
{
    line-height: 0.5px;
}
.xoa{
    text-decoration: none;

    }
}
